<center><h2>Please Enter Number</h2><center>

<h3><%= isbn_num%> is a <%= results%> ISBN</center></h3>

<form action= 'ISBN_num' method= 'post'>
		<input type= 'text' required name= 'isbn'>
		<p><input type= 'submit'></p>
</form>